@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(103, 28, 163, 0.51),#330089);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;    
}

main.container {
    background: #fff;
    max-width: 390px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px  15px rgba(7, 5, 8, 0.51);
    border-radius: 10px;
}

#subtitle{
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bold;
}
h1{
    margin-bottom: 1.3rem;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
}
.input-camp input{
    outline: 0;
    margin-top: 0.5rem;
    border-width: 2px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.8);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.5rem;
    background: #330089;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}
form input[type="text"]{
    width: 100%;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 1rem;
}

form .input-camp{
    margin-bottom: 1.5rem;
}

#register {
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 0.9rem;
}
#register a {
    text-decoration: none;
}
.remember a {
    text-decoration: none;
}
.remember {
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 0.9rem;
    text-decoration: none;
}
