*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roxo{
    color: #7920BE;;
}

#header-h1{
    color: #7920BE;
    font-family: 'Open Sans';
    font-style: normal;
}
#header-div{
    display: flex;
    padding-top: 50px;
    margin-left: 1%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}

#darkmode-btn{
    background-color: white;
    border:none!important;
    width: 35px;
    height: 35px;
    background: url(../images/button-black-mode1.svg);
}

#banner-principal{
    display: flex;
    flex-wrap: wrap;
    padding-top: 197px;
    margin-left: 12%;
    flex-direction: column;
}

#banner-id{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
}

#banner-p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

#abrir-conta-btn{
    color: #F9F9F9;
    width: 222px;
    height: 56px;
    background: #7920BE;
    border-radius: 4px;
    border: none;
}