*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#darkmode-btn{
    background-color: white;
    border:none!important;
    width: 35px;
    height: 35px;
    background: url(../images/button-black-mode1.svg);
}

.home-page{
    width: 80%;
    margin: 0 auto;
    padding-top: 65px;
}

.home-page{
    font-family: 'Open Sans';
    font-style: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}
  
ul{
    display: flex;
    gap: 48px;
    list-style: none;
  }
  
a{
    text-decoration: none;
    color: #1f1534;
}
  
ul li a{
    transition: all 0.3s ease;
}
  
ul li a:hover {
    opacity: 1;
    color: #7920BE;
    font-weight: bold;
}

.roxo{
    color: #7920BE;
}

.boldfont{
    font-weight: bold;
}

.cinza{
    color: #7D7987;
}

.btn-criar-conta{
    color: #F9F9F9;
    width: 222px;
    height: 56px;
    background: #7920BE;
    border-radius: 4px;
    border: none
}
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

section p {
    font-size: 14px;
    line-height: 28px;
    color: #7d7987;
    width: 428px;
    margin: 40px 0;
  }